body {
  background-color: rgb(202, 171, 232);
  font-family: "Tajawal", sans-serif;
}

header {
  padding: 0 0 20px;
  border-bottom: 1px solid rgb(73, 16, 126);
}

h1 {
  font-size: 36px;
  font-weight: bolder;
}

main {
  padding: 30px 0;
}

footer {
  text-align: center;
  font-size: 14px;
  opacity: 0.8;
}

a {
  color: rgb(43, 6, 79);
}

.weather-app-container {
  background-color: blueviolet;
  color: white;
  border-radius: 20px;
  max-width: 600px;
  margin: 30px auto;
  padding: 30px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.form-input {
  padding: 15px 20px;
  border: 1px solid grey;
  border-radius: 5px;
  width: 75%;
  margin-left: 5px;
  font-size: 16px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.search-button {
  font-size: 16px;
  padding: 15px 20px;
  background-color: rgb(73, 16, 126);
  color: whitesmoke;
  border: 1px solid whitesmoke;
  border: none;
  border-radius: 5px;
  width: 20%;
  margin-left: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weatther-app-city {
  font-size: 38px;
  line-height: 48px;
  margin: 0;
}

.weather-app-details {
  font-size: 16px;
  line-height: 24px;
}

.weather-app-details strong {
  color: rgb(99, 7, 23);
}

.weather-app-temperature-container {
  display: flex;
}

.weather-app-temperature {
  font-size: 68px;
  font-weight: bolder;
  margin: 15px 0 0 10px;
  line-height: 100px;
}

.weather-app-icon {
  font-size: 44px;
  width: 100px;
  height: 100px;
}

.weather-app-temperature-unit {
  margin: 30px 10px 0 2px;
  font-size: 28px;
}
